@{
    var listPuzzleNormal = ViewData["listPuzzleNormal"] as IEnumerable<MMultiPuzzle>;
    var listSinglePuzzle = ViewData["listSinglePuzzle"] as IEnumerable<SSinglePuzzle>;
}

<section id="sliderSection">
    @await Html.PartialAsync("_SliderPartial")
</section>
<section id="contentSection">


    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_post_content">
                    @Html.PartialAsync("_EverydayPuzzlePartial", listSinglePuzzle)
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                @Html.PartialAsync("_SidebarPartial")
            </aside>
        </div>
    </div>
</section>
