@using Microsoft.AspNetCore.Identity
@using DoVuiHaiNao.Models

@inject SignInManager<Member> SignInManager
@inject UserManager<Member> UserManager

<div id="header-top">
    <section class="container clearfix">
        <nav class="header-top-nav">
            <ul>
                <li><a asp-action="Contact" asp-controller="Home"><i class="icon-envelope"></i>Liên hệ</a></li>
                <li><a href="#"><i class="icon-headphones"></i>Hỗ trợ</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a href="#">Xin chào @UserManager.GetUserName(User)!</a>
                    </li>
                    <li>
                        @*<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="background-color: #3498db">Đăng xuất</button>
                            </form>*@
                    </li>
                }
                else
                {
                    <li><a class="signup" style="font-size:small"><i class="icon-user"></i>Đăng nhập</a></li>
                }
            </ul>
        </nav>
        <div class="header-search">
            <form asp-action="Search" asp-controller="Search">
                <input name="search" type="text" value="Tìm kiếm ..." onfocus="if(this.value=='Tìm kiếm ...')this.value='';" onblur="if(this.value=='')this.value='Tìm kiếm ...';">
                <button type="submit" class="search-submit"></button>
            </form>
        </div>
    </section><!-- End container -->
</div><!-- End header-top -->
<header id="header">
    <section class="container clearfix">
        <div class="logo"><a asp-controller="Home" asp-action="Index"><img asp-append-version="true" alt="" src="~/images/logo.png"></a></div>
        <nav class="navigation">
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li><a asp-action="ListSinglePuzzle" asp-controller="Puzzle">Mỗi ngày một câu đố</a></li>
                <li><a asp-action="ListMultiPuzzle" asp-controller="Puzzle">Câu đố đặc biệt</a></li>
                @*<li class="ask_question"><a href="ask_question.html">Ask Question</a></li>*@
                @*<li class="current_page_item">
                    <a href="index.html">Home</a>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index_2.html">Home 2</a></li>
                        <li><a href="index_boxed_1.html">Home Boxed 1</a></li>
                        <li><a href="index_boxed_2.html">Home Boxed 2</a></li>
                        <li class="current_page_item"><a href="index_no_box.html">Home No Box</a></li>
                    </ul>
                </li>*@
                
                @*<li>
                    <a href="cat_question.html">Questions</a>
                    <ul>
                        <li><a href="cat_question.html">Questions Category</a></li>
                        <li><a href="single_question.html">Question Single</a></li>
                        <li><a href="single_question_poll.html">Poll Question Single</a></li>
                    </ul>
                </li>*@
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
                <li>
                    <a asp-controller="Member" asp-action="Details" asp-route-slug="@user.Slug">Tài khoản của tôi</a>
                        <ul>
                            <li><a asp-controller="Member" asp-action="Details" asp-route-slug="@user.Slug">Thông tin của tôi</a></li>
                            <li><a asp-controller="Member" asp-action="EditProfile" asp-route-slug="@user.Slug">Chỉnh sửa thông tin</a></li>
                            <li><a asp-controller="Account" asp-action="LogoutHref">Đăng xuất</a></li>
                        </ul>
                </li>
}
                @*<li>
        <a href="blog_1.html">Blog</a>
        <ul>
            <li>
                <a href="blog_1.html">Blog 1</a>
                <ul>
                    <li><a href="blog_1.html">Right sidebar</a></li>
                    <li><a href="blog_1_l_sidebar.html">Left sidebar</a></li>
                    <li><a href="blog_1_full_width.html">Full Width</a></li>
                </ul>
            </li>
            <li>
                <a href="blog_2.html">Blog 2</a>
                <ul>
                    <li><a href="blog_2.html">Right sidebar</a></li>
                    <li><a href="blog_2_l_sidebar.html">Left sidebar</a></li>
                    <li><a href="blog_2_full_width.html">Full Width</a></li>
                </ul>
            </li>
            <li>
                <a href="single_post.html">Post Single</a>
                <ul>
                    <li><a href="single_post.html">Right sidebar</a></li>
                    <li><a href="single_post_l_sidebar.html">Left sidebar</a></li>
                    <li><a href="single_post_full_width.html">Full Width</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="right_sidebar.html">Pages</a>
        <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="ask_question.html">Ask Question</a></li>
            <li><a href="right_sidebar.html">Right Sidebar</a></li>
            <li><a href="left_sidebar.html">Left Sidebar</a></li>
            <li><a href="full_width.html">Full Width</a></li>
            <li><a href="404.html">404</a></li>
        </ul>
    </li>*@
                @*<li><a asp-controller="Home" asp-action="Index">Shortcodes</a></li>*@
                @*<li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a asp-controller="Home" asp-action>Contact Us</a></li>*@
            </ul>
        </nav>
    </section><!-- End container -->
</header><!-- End header -->
