@{
    ViewData["Title"] = "Về chúng tôi | Dovuihainao.Net";
    ViewData["Desciption"] = "Liên hệ với đố vui hại não tại đây";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
