@{ 
    ViewData["Title"] = "Liên hệ | Dovuihainao.Net";
    ViewData["Desciption"] = "Liên hệ với đố vui hại não tại đây";
}

<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Liên hệ chúng tôi</h1>
            </div>
            <div class="col-md-12">
                <div class="crumbs">
                    <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <span class="crumbs-span">/</span>
                    <a href="#">Trang</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">Liên hệ</span>
                </div>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->

<section class="container main-content page-full-width">
    <div class="row">
        <div class="contact-us">
            <div class="col-md-12">
                <div class="page-content">
                    <iframe height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.0663811060185!2d106.77974201441963!3d10.882555792249569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d885564f40f1%3A0x69ba5a55a3ec0e6f!2zS8O9IHTDumMgeMOhIEtodSBCIMSQ4bqhaSBo4buNYyBRdeG7kWMgZ2lhIFRQLiBIQ00!5e0!3m2!1svi!2s!4v1502683270418"></iframe>
                </div><!-- End page-content -->
            </div>
            <div class="col-md-7">
                <div class="page-content">
                    <h2>Chào bạn !</h2>
                    <p>Cảm ơn bạn đã sử dụng website của chúng tôi. Bạn có ý kiến góp ý nào vui lòng gửi tại đây nhé.</p>
                    <form class="form-style form-style-3 form-style-5">
                        <div class="form-inputs clearfix">
                            <p>
                                <label class="required">Tên của bạn<span>*</span></label>
                                <input type="text" value="" aria-required="true">
                            </p>
                            <p>
                                <label class="required">Thư<span>*</span></label>
                                <input type="text" value="" aria-required="true">
                            </p>
                            <p>
                                <label class="required">Website<span>*</span></label>
                                <input type="text" value="">
                            </p>
                        </div>
                        <div class="form-textarea">
                            <p>
                                <label class="required">Nội dung<span>*</span></label>
                                <textarea aria-required="true" cols="58" rows="7"></textarea>
                            </p>
                        </div>
                        <p class="form-submit">
                            <input name="submit" type="submit" value="Gửi" class="submit button small color">
                        </p>
                    </form>
                </div><!-- End page-content -->
            </div><!-- End col-md-6 -->
            <div class="col-md-5">
                <div class="page-content">
                    <h2>Về chúng tôi</h2>
                    <p>Đố vui hại não là một website chuyên về tất cả những câu đố được tổng hợp lại có đáp án và giải thích cụ thể nhằm giúp bạn có thời gian giải trí cũng như thử thách trước những câu đố.</p>
                    <div class="widget widget_contact">
                        <ul>
                            @*<li><i class="icon-map-marker"></i>Address :<p>Ask Me Network, 33 Street, syada Zeinab, Cairo, Egypt.</p></li>*@
                            @*<li><i class="icon-phone"></i>Phone number :<p>(+2)01111011110</p></li>*@
                            <li><i class="icon-envelope-alt"></i>E-mail :<p>hotro@dovuihainao.net</p></li>
                            <li>
                                <i class="icon-share"></i>Mạng xã hội :
                                <p>
                                    <a href="https://www.facebook.com/%C4%90%E1%BB%91-vui-m%E1%BB%97i-ng%C3%A0y-470420386650641/" original-title="Facebook" class="tooltip-n">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#3b5997" span_hover="#2f3239">
                                                <i i_color="#FFF" class="social_icon-facebook"></i>
                                            </span>
                                        </span>
                                    </a>
                                    @*<a href="#" original-title="Twitter" class="tooltip-n">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#00baf0" span_hover="#2f3239">
                                                <i i_color="#FFF" class="social_icon-twitter"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <a original-title="Youtube" class="tooltip-n" href="#">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#cc291f" span_hover="#2f3239">
                                                <i i_color="#FFF" class="social_icon-youtube"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="#" original-title="Linkedin" class="tooltip-n">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#006599" span_hover="#2f3239">
                                                <i i_color="#FFF" class="social_icon-linkedin"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="#" original-title="Google plus" class="tooltip-n">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#ca2c24" span_hover="#2f3239">
                                                <i i_color="#FFF" class="social_icon-gplus"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <a original-title="RSS" class="tooltip-n" href="#">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#F18425" span_hover="#2f3239">
                                                <i i_color="#FFF" class="icon-rss"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <a original-title="Instagram" class="tooltip-n" href="#">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#306096" span_hover="#2f3239">
                                                <i i_color="#FFF" class="social_icon-instagram"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <a original-title="Dribbble" class="tooltip-n" href="#">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#e64281" span_hover="#2f3239">
                                                <i i_color="#FFF" class="social_icon-dribbble"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <a original-title="Pinterest" class="tooltip-n" href="#">
                                        <span class="icon_i">
                                            <span class="icon_square" icon_size="25" span_bg="#c7151a" span_hover="#2f3239">
                                                <i i_color="#FFF" class="icon-pinterest"></i>
                                            </span>
                                        </span>
                                    </a>*@
                                </p>
                            </li>
                        </ul>
                    </div>
                </div><!-- End page-content -->
            </div><!-- End col-md-6 -->
        </div><!-- End contact-us -->
    </div><!-- End row -->
</section><!-- End container -->
